<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
<listener class-name="utils.Reporting"></listener>
</listeners>
<parameter name="Url" value="https://www.saucedemo.com/"></parameter>
  <test thread-count="5" name="Test">
<parameter name="Browser" value="Edge"></parameter>  
    <classes>
      <class name="TestScript.InvalidLoginTC"/>
      <class name="TestScript.ValidLoginTc"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
